.yellow {
  background-color: #fcd232;
}

.red {
  background-color: #ff1300;
}

.font-small {
  font-size: x-small;
}

img {
  max-width: 100%;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(../../images/banner.jpg);
  background-position: cover;
  background-repeat: no-repeat;
  height: 500px;
}

.neonText {
  color: #fff;
  letter-spacing: 20px;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px yellow,
      0 0 82px #fcd232,
      0 0 92px #0fa,
      0 0 102px red,
      0 0 151px rebeccapurple;
}

nav ul li a:hover{
  --s: 0.1em;  
  --c: #1095c1; 
  color: #0000;
  padding-bottom: var(--s);
  background: 
    linear-gradient(90deg,var(--c) 50%, red 0) calc(100% - var(--_p,0%))/200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: 1.0s;
}

.heart {
  content: "&#9829";
}

.heart:before {
  content: "\2665";
  color: red;
}

.font-large {
  font-size: 40px;
}

.effect:hover {
  background-color: #ff1300 !important;
}

.icon:hover{
  color: black;
}

.cursor {
  cursor: pointer;
}

.font-largest {
  font-size: 70px;
}

.card {
  transition: transform 0.2s ease;
  filter: blur(0.5px);
  background-color:   #FCD232 !important;
  border: none !important;
}

.card-style{
  background-color:  white !important;
  box-shadow: 6px 10px 12px -1px rgb(0 0 0 / 75%);
  transition: all 0.2s ease-in-out 0s;
}

.list-element{
display: none;
}

.list-element:nth-child(1),
.list-element:nth-child(2),
.list-element:nth-child(3){
display: inline-block;
}

.btn:hover{
color: black;
}

.border-radius{
  border-radius: 3px;
}

.card:hover {
  transform: scale(1.1);
  filter: blur(0);
}

.sidenav {
  height: 100%;
  width: 0; 
  position: fixed; 
  z-index: 1;
  top: 0; 
  right: 0;
  background-color: #111; 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  border: #111;
}